---
title: One Video
---

<div class="legacy container">
  <!-- Videos -->
  <section class="camera">
    <iframe width="1152" height="648" src="https://www.youtube.com/embed/gDMqGxpIqvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>
  <section class="top-game game">
    <iframe width="752" height="423" src="https://www.youtube.com/embed/gDMqGxpIqvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>
  <section class="bottom-game game">
    <iframe width="752" height="423" src="https://www.youtube.com/embed/gDMqGxpIqvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <!-- TSG Logo -->
  <img src="/images/tsg-text-logo.png" class="tsg-logo">

  <!-- Game Names -->
  <div class="top-game-name game-name"></div>
  <div class="bottom-game-name game-name"></div>

  <!-- Banners -->
  <section class="banners">
    <img src="/images/banners/510-fangamer.jpg">
  </section>

  <!-- Alert Area Under Camera -->
  <section class="alert-area"></section>

  <!-- Bottom Bar -->
  <div class="st-jude-logo"></div>
  <section class="bottom-bar">
    <div class="bottom-bar-content"></div>
  </section>

</div>
