---
title: One Video
---

<div class="zelda-2019 container lorule" id="container">
  <!-- Videos -->
  <section class="camera"></section>

  <div class="player-name name-bar"></div>

  <section class="game">
    <iframe width="1168" height="657" src="https://www.youtube.com/embed/gDMqGxpIqvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <!-- TSG Logo -->
  <img src="/images/tsg-text-logo.png" class="tsg-text-logo">

  <!-- Game Names -->
  <div class="game-name name-bar"></div>

  <!-- Banners -->
  <section class="banners">
    <img src="/images/banners/510-fangamer.jpg">
  </section>

  <!-- Alert Area Under Camera -->
  <section class="alert-area"></section>
  <div class="tsg-full-logo"></div><!-- Delete this if it's in the way of something cool -->

  <!-- Bottom Bar -->
  <div class="charity-logo">
    <img class="st-jude-logo" src="/images/charity-logos/st-jude.jpg">
  </div>
  <section class="bottom-bar">
    <div class="bottom-bar-content"></div>
  </section>

</div>


<!-- NO -->

<!-- don't grab stuff after this, this is just for the demo -->

<!-- NO -->

<style>
  .toggle {
    padding: 20px;
    height: 100px;
    background: tomato;
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 0;
    color: white;
    font-family: helvetica, arial, sans-serif;
  }
</style>
<button class="toggle" onclick="toggleLorule()">TOGGLE ME, PAPA &raquo;</button>

<script>
  function toggleLorule() {
    var element = document.getElementById("container");
    element.classList.toggle("lorule");
  }
</script>