---
title: Mario 2020
---

<div class="mario-2020 container">

  <!-- Camera -->
  <section class="camera"></section>

  <!-- Game -->
  <section class="game">
    <iframe width="1293" height="727" src="https://www.youtube.com/embed/gDMqGxpIqvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <!-- Name Overlay (Optional) -->
  <section class="name-overlay">

  </section>

  <!-- Donation Area (Bottom Left) -->
  <section class="donation-area">
    <div class="donation-bar"></div>
  </section>

  <!-- Bounties -->
  <section class="bounties">
    <h1><img src="images/mario-2020/coin.png" /></h1>
  </section>

  <!-- Banners -->
  <section class="banners">
    <img src="/images/mario-2020/banner-fangamer.png">
  </section>

</div>
