---
title: One Video
---

<div class="zelda-2021-one container">
  <!-- Logo and Total -->
  <section class="logo-and-total">
    <img src="/images/zelda-2021/tsg-logo.svg" class="tsg-text-logo">
  </section>

  <!-- Videos -->
  <section class="camera"></section>

  <section class="game">
    <iframe width="1380" height="776" src="https://www.youtube.com/embed/gDMqGxpIqvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <!-- Banners -->
  <section class="banners">
    <img src="/images/banners/540_zelda-2021-charity.png">
  </section>

  <!-- Info Area -->
  <section class="info-area">
    <header></header>

  </section>

  <!-- Bounties -->
  <section class="bounties"></section>

</div>
